@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: "Nunito Sans", sans-serif ;
  font-weight: 400;
}
.App {
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 600 !important;
}

.custom-nav-link {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.custom-nav-link:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.socialNetworks i {
  color: grey;
  font-size: 2rem;
  padding-right: 10px;
  padding-top: 5px
}

.socialNetworks i:hover{
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.container {
  padding: 40px
}

.info{
  margin: 15px 0 25px 0;
  line-height: 8px;
}

.text-style {
  text-decoration: none;
}

/*Home.js */

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}


.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

/* Overlay assombrissant pour que le texte soit lisible*/
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; 
}

.skills-container {
  padding: 40px 25px 40px 25px;
  margin: 40px auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure semi-transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
  background: rgba(255, 255, 255, 0.05); /* Légère transparence */
}

.JohnDoe-image {
  max-width: 100%; 
  height: auto;   
  display: block; 
  margin: 0 auto; 
}

.padding-home {
  padding-top: 25px;
}